h1{
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
    font-size: 250%;
    /*Declaration to change my h1 element color,font family font size*/
}
h2,h3{
    color: darkblue;
    font-size: 200%;
    /*declaration to my h2 & h3 color and font size */
}
h4,h5,h6{color: brown;}
body{
     background-color: lightblue;
     padding-left: 30px;
     display: flexbox;
     justify-content: space-between;
     /*declaration to my body background color and padding-left */
     
}
menu{
    background-color: blueviolet;
    background-size: contain;
    background-color: contain;
    font-style: italic;
    box-sizing: content-box;
    margin-right: 74%;
    margin-top:-30px;
    margin-bottom:-1%;
    margin-left: -60px;
    padding-top: 15px;
    position: sticky;
    
   /*declaration to change my menu background color,size,font style box sizing,all margins and padding top*/ 
    
}
header{
    background-color: yellowgreen;
    margin-bottom: -1.8%;
    margin-left: -60px;
    margin-top: -10px;
    margin-right: -10px;
    position: center;
     /*declaration to change my menu background color & all margins and center*/
}
    

article{background-color: lightblue;/*Declaration to change my background color to blue*/
         margin-top: 0px;
         margin-right: 500px;
}
img{
    border-width: 10px;
    border-color:lightgray;
    border-style: dotted;
    /*Declaration to change my border width,border color & border style*/
}
.heading{align-content: baseline
            position static
            /*Declaration to align my heading class and make its position static*/
            
        }
   
.menu6{
    position: relative;
    left: 1050px;
    border: 2px;
    padding: 10px;
    flex: 1;
    /*Declaration to put my menu class in a relative position on the right side of my page using left, setting the border to 2px and padding to 10px*/
}
.artcle{
    position: static;
    left: 10px;
    top:100px;
    padding-right: 5px;
    flex: 2;
    margin-top: -150px;
    margin-right: 5px;
    box-sizing:fill;    
    border-right: -50px;
     /*Declaration to put my artcle class in a static position on the same position it was but move it to the top a little , setting the border-right -50px and padding to 10px*/  
}
center{background-color: burlywood;}
.profile{position: center;}
html{cursor:;}




    



